{% extends "layout/layout_select2.html" %}
{%  block head  %}
    {% include 'head/head_select.html' %}
{% endblock head %}

{%  block header  %}
    {% include 'header/header.html' %}
{% endblock header %}

{%  block navbar  %}
    {% include 'nav/navbar.html' %}
{% endblock navbar %}

{%  block sidebar  %}
    {% include 'sidebar/sidebar.html' %}
{% endblock sidebar %}


{%  block content  %}
    {% include 'content/edit_content_billing_group.html' %}
{% endblock content %}

{%  block footer  %}
    {% include 'footer/footer.html' %}
{% endblock footer %}

{%  block script_edit_billing  %}
    {% include 'script/script_edit_billing.html' %}
{% endblock script_edit_billing %}


