{% extends "base_2.html" %}
{%  block content  %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Custom Tabs -->
              <div class="card">
                <div class="card-header d-flex p-0">
                  <h3 class="card-title p-3">Tabs</h3>
                  <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">OPD</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">IPD</a></li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                      <table id="example2" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>รหัสกลุ่มใบเสร็จ</th>
                            <th>รหัสบนใบเสร็จ</th>
                            <th>รายละเอียด</th>
                            <th>OPD ChrgItem</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for row in list_Items %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          <td>{{ row[2] }}</td>
                          {% if row[3] != None %}
                          <td  class="text-success">{{ row[3] }}|{{ row[4] }} </td>
                          {% else %}
                          <td class="text-danger"> ไม่ได้จับคู่</td>
                          {% endif %}
                          <!-- <td>
                            <div class="form-check">
                              <a href="/edit_billing_group/{{ row[0] }}" class="btn btn-warning">Edit</a>
                            </div>
                          </td> -->
                          <td class="text-right py-0 align-middle">
                            <div class="btn-group btn-group-sm">
                              <a href="/edit_billing_group/{{ row[5] }}/{{ row[0] }}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                              <a href="/delete_billing_group/{{ row[5] }}/{{ row[0] }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </div>
                          </td>
                        </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>รหัสกลุ่มใบเสร็จ</th>
                          <th>รหัสบนใบเสร็จ</th>
                          <th>รายละเอียด</th>
                          <th>IPD ChrgItem</th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for row in list_ItemsIPD %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          <td>{{ row[2] }}</td>
                          {% if row[3] != None %}
                          <td  class="text-success">{{ row[3] }}|{{ row[4] }} </td>
                          {% else %}
                          <td class="text-danger"> ไม่ได้จับคู่</td>
                          {% endif %}
                          <td>
                            <div class="btn-group btn-group-sm">
                              <a href="/edit_billing_group/{{ row[5] }}/{{ row[0] }}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                              <a href="/delete_billing_group/{{ row[5] }}/{{ row[0] }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </div>
                          </td>
                        </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- ./card -->
            </div>
            <!-- /.col -->
          </div>
          
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
</div>
    <!-- /.content -->
  <!-- /.content-wrapper -->
{% endblock content %}