{% extends "base_2.html" %}
{%  block content  %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Plan_Code</th>
                      <th>Description</th>
                      <th>OP Type</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for row in list_plans %}
                    <tr>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      {% if row[3] == 'ไม่ได้จับคู่' %}
                        <td class="text-danger"> {{ row[3] }}</td>
                        {% else %}
                        <td class="text-success"> {{ row[3] }}</td>
                      {% endif %}  
                      {% if row[3] == 'ไม่ได้จับคู่' %}
                      <td>
                        <a href="/edit_contactPlan/{{ row[0] }}" class="btn btn-success">จับคู่</a>
                      </td>
                      {% else %}
                        <td>
                          <a href="/edit_contactPlan/{{ row[0] }}" class="btn btn-warning">แก้ไข</a>
                        </td>
                      {% endif %} 
                    </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            
            <!-- /.col -->
          </div>
          
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
</div>
    <!-- /.content -->
  <!-- /.content-wrapper -->
{% endblock content %}