{% extends "base_2.html" %}
{%  block content  %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>รหัส</th>
                      <th>รายการ Item</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for row in list_Items %}
                    <tr>
                      <td>{{ row[0] }}</td>
                      <td>{{ row[1] }}</td>
                      <td>
                        <div class="form-check">
                          {% if row[3] == 'True' %}
                          <input class="form-check-input" type="checkbox" id="highCost" value="{{ row[0] }}" onchange="highCost(this,'{{row[2]}}')" checked>
                          {% else %}
                          <input class="form-check-input" type="checkbox" id="highCost" value="{{ row[0] }}" onchange="highCost(this,'{{row[2]}}')">
                          {% endif %}
                          <label class="form-check-label">Highcost</label>
                        </div>
                      </td>
                    </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            
            <!-- /.col -->
          </div>
          
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
</div>
    <!-- /.content -->
  <!-- /.content-wrapper -->
{% endblock content %}