{% extends "layout.html" %}
{% include 'navbar.html' %}
{% include 'sidebar.html' %}
{%  block content  %}
    {% include 'header.html' %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- /.row -->
          <!-- Main row -->
          <div class="row">
    
          </div>
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}